*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 10px;
}
body
{
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
.clock{
    width: 35rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: .4rem solid #091921;
    border-radius: 50%;
    box-shadow: 0 -1.5rem 1.5rem rgba(255,255,255,0.05), inset 0 -1.5rem 1.5rem rgba(255,255,255,0.05),0 1.5rem 1.5rem rgba(0,0,0,0.03),inset 0 1.5rem 1.5rem rgba(0,0,0,0.03);
}

.clock:before
{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}
.clock .hour, .hr
{
    width: 16rem;
    height: 16rem;
}
.clock .min, .mn
{
    width: 19rem;
    height: 19rem;
}
.clock .sec, .sc
{
    width: 23rem;
    height: 23rem;
}

.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 8rem;
    background: #ff105e;
    z-index: 10;
    border-radius;.6rem .6rem 0 0;
}
.mn:before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 9rem;
    background: #fff;
    z-index: 11;
    border-radius;.6rem .6rem 0 0;
}
.sc:before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 16rem;
    background: #fff;
    z-index: 12;
    border-radius;.6rem .6rem 0 0;
}





